* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container,
.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 24px;
  background: #f9f9ff;
  border: 1px solid #f9f9ff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background 800ms, color 800ms, border 800ms;
  -webkit-transition: background 800ms, color 800ms, border 800ms;
  -moz-transition: background 800ms, color 800ms, border 800ms;
  -ms-transition: background 800ms, color 800ms, border 800ms;
  -o-transition: background 800ms, color 800ms, border 800ms;
}

.btn:hover {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24px 0;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .menu a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 18px;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: url(../img/banner-bg.jpg) no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.main .container .mainInfo h2 {
  font-size: 68px;
  font-weight: 300;
  line-height: 1.2;
}

.main .container .mainInfo p {
  margin-top: 10px;
}

.main .container .mainInfo .btn {
  margin: 20px 0;
}

.products {
  width: 100%;
  padding: 80px 0;
}

.products .title {
  text-align: center;
}

.products .title h2 {
  font-size: 34px;
}

.products .title p {
  font-size: 14px;
  color: #777777;
  margin-top: 13px;
}

.products .container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .container .card {
  width: 100%;
  max-width: 23%;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
}

.products .container .card:hover .cardInfo .btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#828fff), to(#d496ff));
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  color: #ffffff;
}

.products .container .card .cardBg {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 26px 0;
  border-bottom: 1px solid #eeeeee;
}

.products .container .card .cardInfo {
  text-align: center;
  padding: 18px;
  background: #f9f9ff;
}

.products .container .card .cardInfo p {
  margin: 13px 0;
  color: #777777;
  line-height: 1.5;
}

.products .container .card .cardInfo .btn {
  background: #ffffff;
  color: #000000;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.connect {
  width: 100%;
}

.connect .container {
  max-width: 100%;
}

.connect .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.connect .container .card .connectBg {
  width: 100%;
  max-width: 50%;
  height: 500px;
  background: url("./img/about-img.png") no-repeat center/cover;
}

.connect .container .card .connectInfo {
  width: 100%;
  max-width: 50%;
  padding: 0 26px;
}

.connect .container .card .connectInfo span {
  color: #8a90ff;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.connect .container .card .connectInfo h2 {
  font-size: 36px;
}

.connect .container .card .connectInfo p {
  color: #777777;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.connect .container .card .connectInfo p:first-of-type {
  margin: 16px 0;
  color: #000000;
  line-height: 1;
}

.connect .container .card .connectInfo .btn {
  margin-top: 14px;
  background: -webkit-gradient(linear, left bottom, left top, from(#828fff), to(#d496ff));
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  color: #ffffff;
  border: 1px solid transparent;
  padding: 14px 34px;
}

.connect .container .card .connectInfo .btn:hover {
  color: #8a90ff;
  background: #ffffff;
  border: 1px solid #8a90ff;
}

.connect .container .card.second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0 100px 0;
}

.connect .container .card.second .connectInfo {
  max-width: 50%;
}

.connect .container .card.second .connectBg {
  height: 320px;
  background: url("./img/video-bg.jpg") no-repeat center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
}

.connect .container .card.second .connectBg .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#828fff), to(#d496ff));
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  opacity: 0.7;
}

.connect .container .card.second .connectBg i {
  margin: auto;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}

.features {
  padding: 100px 0;
  width: 100%;
  background: url("./img/feature-bg.jpg") no-repeat center/cover;
}

.features .title {
  text-align: center;
  color: #ffffff;
}

.features .title h2 {
  font-size: 34px;
}

.features .title p {
  font-size: 14px;
  margin-top: 13px;
}

.features .container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .container .featureCard {
  width: 100%;
  max-width: 31%;
  background: #f9f9ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 40px 30px;
  cursor: pointer;
  margin: 16px 0;
}

.features .container .featureCard:hover .cardTitle i,
.features .container .featureCard:hover .cardTitle h3 {
  color: #8a90ff;
  transition: color 700ms;
  -webkit-transition: color 700ms;
  -moz-transition: color 700ms;
  -ms-transition: color 700ms;
  -o-transition: color 700ms;
}

.features .container .featureCard .cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container .featureCard .cardTitle i {
  margin-right: 8px;
}

.features .container .featureCard .cardDesc p {
  margin-top: 18px;
  color: #777777;
  line-height: 1.4;
}
/*# sourceMappingURL=style.css.map */