$wt: #ffffff;
$bl: #000000;
$grey: #777777;
$greybg: #f9f9ff;
$iconbg: #111111;
$bdc: #eeeeee;
$blue: #8a90ff;
$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$gradient: linear-gradient(0deg, #828fff 0%, #d496ff 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container,
.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 24px;
    background: $greybg;
    border: 1px solid $greybg;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background 800ms, color 800ms, border 800ms;
    -webkit-transition: background 800ms, color 800ms, border 800ms;
    -moz-transition: background 800ms, color 800ms, border 800ms;
    -ms-transition: background 800ms, color 800ms, border 800ms;
    -o-transition: background 800ms, color 800ms, border 800ms;

    &:hover {
        background: transparent;
        border: 1px solid $wt;
        color: $wt;
    }
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 24px 0;

    .container {
        display: flex;
        align-self: center;
        justify-content: space-between;

        .menu {
            a {
                text-decoration: none;
                color: $wt;
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 18px;
            }
        }
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    background: url(../img/banner-bg.jpg) no-repeat center/cover;
    display: flex;

    .container {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $wt;

        .mainInfo {
            h2 {
                font-size: 68px;
                font-weight: 300;
                line-height: 1.2;
            }

            p {
                margin-top: 10px;
            }

            .btn {
                margin: 20px 0;
            }
        }
    }
}

.products {
    width: 100%;
    padding: 80px 0;

    .title {
        text-align: center;

        h2 {
            font-size: 34px;
        }

        p {
            font-size: 14px;
            color: $grey;
            margin-top: 13px;
        }
    }

    .container {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;

        .card {
            width: 100%;
            max-width: 23%;
            box-shadow: $boxshadow;

            &:hover {
                .cardInfo {
                    .btn {
                        background: $gradient;
                        color: $wt;
                    }
                }
            }

            .cardBg {
                background: $wt;
                display: flex;
                justify-content: center;
                padding: 26px 0;
                border-bottom: 1px solid $bdc;
            }

            .cardInfo {
                text-align: center;
                padding: 18px;
                background: $greybg;

                p {
                    margin: 13px 0;
                    color: $grey;
                    line-height: 1.5;
                }

                .btn {
                    background: $wt;
                    color: $bl;
                    transition: none;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                }
            }
        }
    }
}

.connect {
    width: 100%;
    
    .container {
        max-width: 100%;

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 60px 0;

            .connectBg {
                width: 100%;
                max-width: 50%;
                height: 500px;
                background: url("./img/about-img.png") no-repeat center/cover;
            }

            .connectInfo {
                width: 100%;
                max-width: 50%;
                padding: 0 26px;

                span {
                    color: $blue;
                    font-size: 14px;
                    margin-bottom: 8px;
                    display: block;
                }

                h2 {
                    font-size: 36px;
                }

                p {
                    color: $grey;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.6;

                    &:first-of-type {
                        margin: 16px 0;
                        color: $bl;
                        line-height: 1;
                    }
                }

                .btn {
                    margin-top: 14px;
                    background: $gradient;
                    color: $wt;
                    border: 1px solid transparent;
                    padding: 14px 34px;

                    &:hover {
                        color: $blue;
                        background: $wt;
                        border: 1px solid $blue;
                    }
                }
            }

            &.second {
                flex-direction: row-reverse;
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                padding: 60px 0 100px 0;

                .connectInfo {
                    max-width: 50%;
                }

                .connectBg {
                    height: 320px;
                    background: url("./img/video-bg.jpg") no-repeat center/cover;
                    position: relative;
                    display: flex;
                    max-width: 50%;

                    .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: $gradient;
                        opacity: 0.7;
                    }

                    i {
                        margin: auto;
                        position: relative;
                        color: $wt;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.features {
    padding: 100px 0;
    width: 100%;
    background: url("./img/feature-bg.jpg") no-repeat center/cover;
    
    .title {
        text-align: center;
        color: $wt;

        h2 {
            font-size: 34px;
        }

        p {
            font-size: 14px;
            margin-top: 13px;
        }
    }

    .container {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .featureCard {
            width: 100%;
            max-width: 31%;
            background: $greybg;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            padding: 40px 30px;
            cursor: pointer;
            margin: 16px 0;

            &:hover {
                .cardTitle {
                    i,
                    h3 {
                        color: $blue;
                        transition: color 700ms;
                        -webkit-transition: color 700ms;
                        -moz-transition: color 700ms;
                        -ms-transition: color 700ms;
                        -o-transition: color 700ms;
                    }
                }
            }

            .cardTitle {
                display: flex;
                align-items: center;

                i {
                    margin-right: 8px;
                }
            }

            .cardDesc {
                p {
                    margin-top: 18px;
                    color: $grey;
                    line-height: 1.4;
                }
            }
        }
    }
}